html, body {
	height:100%;
}

body {
	background-image: url('../images/background-asta-nielsen-full-hd.jpg');
	background-attachment: fixed;
	background-color: #cfcfcf;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 100%;
}
